<nz-tabset [nzTabBarExtraContent]="extraTemplate">
    <nz-tab nzTitle="Product Entry">
        <form nz-form (ngSubmit)="addProduct()">
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Product Code</nz-form-label>
                <nz-form-control nzValidateStatus="error" [nzSpan]="12">
                    <input nz-input [(ngModel)]="pd_code" name="pd_code">
                    <nz-form-explain *ngIf="error_msg && !pd_code">Product code is required</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Product Name</nz-form-label>
                <nz-form-control nzValidateStatus="error" [nzSpan]="12">
                    <input nz-input [(ngModel)]="pd_name" name="pd_name">
                    <nz-form-explain *ngIf="error_msg && !pd_name">Product code is required</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Product Price</nz-form-label>
                <nz-form-control nzValidateStatus="error" [nzSpan]="12">
                    <input nz-input [(ngModel)]="pd_price" name="pd_price">
                    <nz-form-explain *ngIf="error_msg && !pd_price">Product price is required</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSpan]="5">Product GST</nz-form-label>
                <nz-form-control nzValidateStatus="error" [nzSpan]="12">
                    <input nz-input [(ngModel)]="pd_gst" name="pd_gst">
                    <nz-form-explain *ngIf="error_msg && !pd_gst">Product gst is required</nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control [nzSpan]="12" [nzOffset]="5">
                    <button nz-button nzType="primary">
                        Add Product
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-tab>
    <nz-tab nzTitle="Product Listing">
        <div style="background: #ECECEC;" >
        <div  *ngFor="let data of productsData" style="background: #ECECEC;padding:30px; width: 25%; display: inline-block;">
            <nz-card style="width:300px;" [nzBordered]="false" nzTitle="{{data.name}}" >
              <p>Product Code: {{data.code}}</p>
              <p>Product Price: {{data.price}}</p>
              <p>Product GST: {{data.gst}} %</p>
              <p (click) ="addtocart(data)" class="addtocart">Add to Cart <i class="anticon anticon-plus-circle-o"></i></p>
            </nz-card>
          </div>
        </div>
    </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
       
    <nz-badge [nzCount]="cart.length">
            <i (click) = 'opencart()' class="anticon anticon-shopping-cart cart-icon"></i>
    </nz-badge>
    <span style="margin-left: 14px;"></span>
  </ng-template>

  <nz-modal [nzFooter]="modalFooter" nzWidth="50%" [(nzVisible)]="isVisible" nzTitle="Cart" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <nz-table #basicTable [nzData]="cart">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>GST</th>
            <th>Quantity</th>
            <th>total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of cart;let i = index">
            <td>{{data.name}}</td>
            <td>{{data.price}}</td>
            <td>{{data.gst}}</td>
            <td><input min="1" (change) ='updatecart()' type="number" [(ngModel)]='data.quantity'>  </td>
            <td>{{data.total}}</td>
            <td>
              <a (click)='removefromcart(data)'>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
  </nz-modal>

  <ng-template #modalFooter>
    <span>Total: {{gettotal()}} </span>
  </ng-template>